{% set offset = offset ?? 0 %}
{% set limit = limit ?? 6 %}
{% set entryId = entryId ?? null %}
{% set filter = entryId ? (signals['app' ~ entryId].filter ?? '') : '' %}

{% set entryAllCount = craft.entries.section('blog') %}
{% set entryQuery = craft.entries.section('blog').eagerly().limit(limit).offset(offset).orderBy('date DESC') %}

{% if filter %}
  {% set filterEntry = craft.entries.section('categories').slug(filter).one() %}
  {% do entryAllCount.andRelatedTo(filterEntry) %}
  {% do entryQuery.andRelatedTo(filterEntry) %}
{% endif %}

{% set entries = entryQuery.all() %}
{% set hasMore = entryAllCount.count() > offset + (entries|length) %}

{% if not entries %}
  {% patchelements %}
    <div id="result-{{ entryId }}">
      <p class="ui-notice">
        🫣 No results{% if filter %}
          for "{{ filter }}"
        {% endif %}— try a different filter.
      </p>
    </div>
  {% endpatchelements %}
  {% patchelements %}
    <div id="loadmore-{{ entryId }}"></div>
  {% endpatchelements %}
{% else %}
  {% patchelements with { selector: '#result-' ~ entryId, mode: offset == 0 ? 'inner' : 'append' } %}
    {% for entry in entries %}
      {{ entry.render() }}
    {% endfor %}
  {% endpatchelements %}

  {% if hasMore %}
    {% patchelements %}
      <div id="loadmore-{{ entryId }}" class="mt-12">
        <button data-on:click="{{ datastar.get('_datastar/blog.twig', { offset: offset + limit, entryId: entryId }) }}" class="ui-btn">
          {{ 'Load more'|t }}
        </button>
      </div>
    {% endpatchelements %}
  {% else %}
    {% patchelements %}
      <div id="loadmore-{{ entryId }}"></div>
    {% endpatchelements %}
  {% endif %}
{% endif %}
