{% extends '_layouts/base' %}

{% set categories = craft.entries.section('categories').all() ?? null %}

{% block main %}
  {% cache using key 'entry__' ~ craft.app.request.pathInfo %}
    <header class="blocks blocks--header">
      <div class="blocks__content">
        <h1 class="ui-h1">{{ entry.headline ? entry.headline|nl2br : entry.title }}</h1>
      </div>
    </header>
    <section class="blocks blocks--text">
      <div class="blocks__content prose md:prose-lg lg:prose-xl">
        {{ entry.text }}
      </div>
    </section>
    <section class="blocks blocks--blog">
      <div class="blocks__popout">
        {% if categories %}
          {# FILTER #}
          <div class="inline-flex items-center mb-6 space-x-4">
            <select
              data-bind:filter
              data-indicator-fetching
              data-attr-disabled="$fetching"
              data-on:input="{{ datastar.get('_datastar/blog.twig', { offset: 0 }) }}"
              aria-label="Blog-Kategorie filtern"
              class="ui-select">
              <option value="">{{ 'Show all'|t }}</option>
              {% for item in categories %}
                <option value="{{ item.slug }}" data-selected="$filter == {{ item.slug }}">{{ item.title }}</option>
              {% endfor %}
            </select>
            <div data-show="$fetching">
              Loading...
            </div>
          </div>
        {% endif %}

        {# RESULT #}
        <div id="result" data-init="{{ datastar.get('_datastar/blog.twig', { offset: 0 }) }}"></div>
        <div id="loadmore"></div>
      </div>
    </section>
  {% endcache %}
{% endblock %}
